# __Interim Project__

### 1) Data Extraction: API Call

Libraries are imported here

In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests

API call the dataset and convert it from json to pandas data frame

In [49]:
import requests
import pandas as pd

dataset_id = "d_05fffefe9045d234eb140d7db0acdeb9"
base_url = "https://data.gov.sg/api/action/datastore_search"
params = {"resource_id": dataset_id, "offset": 0}

all_records = []
stop_id = 3076
stop_fetching = False

while not stop_fetching:
    response = requests.get(base_url, params=params)
    data = response.json()

    if 'result' in data and 'records' in data['result']:
        records = data['result']['records']
        for record in records:
            all_records.append(record)
            if record.get("_id") == stop_id:
                print(f"Stopping at _id {stop_id}.")
                stop_fetching = True
                break

        if stop_fetching:
            break

        if "next" in data['result']['_links']:
            next_url = data['result']['_links']['next']
            offset_value = int(next_url.split("offset=")[-1])
            params["offset"] = offset_value
        else:
            break
    else:
        print("No more records found or an error occurred.")
        break

df = pd.DataFrame(all_records)
print(f"Total records fetched: {len(df)}")

Stopping at _id 3076.
Total records fetched: 3076

Inspect data (i)    
Show the first 5 rows

In [50]:
display(df.head())

,_id,uid,sample,gender,age_2,dwelling,industry,social_involve_1,social_involve_2,social_involve_3,...,hh_employer_their_family,hh_grandchildren,hh_other,hh_none,highest_ed,institution_deg,occupation,mhi,mpi,weight
0,1,27,Resident (Citizen/PR),Female,25-34 years old,HDB 3 room,Wholesale and Retail Trade,No,No,No,...,No,No,No,No,"Secondary/ high school / ""O / N"" Levels",-,"Sales and service staff (e.g. Chefs, Cooks, Ca...","S$3,001-S$4,000","Below S$1,000",0.727891904
1,2,33,Resident (Citizen/PR),Female,25-34 years old,HDB 3 room,Wholesale and Retail Trade,No,No,No,...,No,No,No,No,Polytechnic / diploma,-,Self-employed / Freelancer,"S$2,001-S$3,000","S$1,000-2,000",0.855263478
2,3,46,Resident (Citizen/PR),Female,45-54 years old,HDB 4 room,Not currently working,No,No,No,...,No,No,No,No,"Secondary/ high school / ""O / N"" Levels",-,Home maker,"S$3,001-S$4,000",-,0.857862718
3,4,50,Resident (Citizen/PR),Male,55-64 years old,HDB 4 room,Not currently working,No,No,No,...,No,No,No,No,"Secondary/ high school / ""O / N"" Levels",-,Unemployed,"S$4,001-S$5,000",-,1.000318165
4,5,52,Resident (Citizen/PR),Female,25-34 years old,HDB 3 room,Wholesale and Retail Trade,No,No,No,...,No,No,No,No,"Secondary/ high school / ""O / N"" Levels",-,"Clerical support workers (e.g. Clerks, Custome...","S$6,001-S$7,000","S$2,001-S$3,000",0.855263478

Inspect data (ii)     
Get summary of the dataset, including null values, verbose is use to get a detailed summary of a DataFrame

In [51]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3076 entries, 0 to 3075
Data columns (total 121 columns):
 #    Column                    Dtype
---   ------                    -----
 0    _id                       int64
 1    uid                       object
 2    sample                    object
 3    gender                    object
 4    age_2                     object
 5    dwelling                  object
 6    industry                  object
 7    social_involve_1          object
 8    social_involve_2          object
 9    social_involve_3          object
 10   social_involve_4          object
 11   social_involve_5          object
 12   social_involve_6          object
 13   social_involve_7          object
 14   social_involve_8          object
 15   social_involve_9          object
 16   volunteerdonate_1         object
 17   volunteerdonate_2         object
 18   volunteerdonate_3         object
 19   volunteerdonate_4         object
 20   volunteerdonate_5         object
 21   volunteerdonate_6         object
 22   volunteerdonate_7         object
 23   volunteerdonate_8         object
 24   volunteerdonate_9         object
 25   volunteerdonate_freq      object
 26   volunteerdonate_metd      object
 27   snetwork_ethnicity        object
 28   snetwork_nationality      object
 29   snetwork_religion         object
 30   snetwork_income           object
 31   snetwork_education        object
 32   snetwork_sorientation     object
 33   close_sg_friends          object
 34   sinteract_meal            object
 35   sinteract_invitedfriend   object
 36   sinteract_beeninvited     object
 37   sinteract_participated    object
 38   support_immedfam          object
 39   support_extfam            object
 40   support_worksch           object
 41   support_friends           object
 42   os_exp_1                  object
 43   os_exp_2                  object
 44   os_exp_3                  object
 45   os_exp_4                  object
 46   time_os                   object
 47   study_os                  object
 48   work_os                   object
 49   travel_os                 object
 50   migrate_os                object
 51   retire_os                 object
 52   outcome_connection        object
 53   outcome_future            object
 54   pillarbeh_1               object
 55   pillarbeh_2               object
 56   pillarbeh_3               object
 57   pillarbeh_4               object
 58   pillarbeh_5               object
 59   pillarbeh_6               object
 60   pillarbeh_7               object
 61   pillarbeh_8               object
 62   pillarbeh_9               object
 63   pillarbeh_10              object
 64   pillarbeh_11              object
 65   pillarbeh_12              object
 66   pillarbeh_13              object
 67   pillarbeh_14              object
 68   pillarbeh_15              object
 69   pillarvals_1              object
 70   pillarvals_2              object
 71   pillarvals_3              object
 72   pillarvals_4              object
 73   pillarvals_5              object
 74   pillarvals_6              object
 75   pillarvals_7              object
 76   pillarvals_8              object
 77   pillarvals_9              object
 78   pillarvals_12             object
 79   pillarvals_13             object
 80   pillarvals_14             object
 81   pillarvals_21             object
 82   pillarvals_22             object
 83   pillarvals_23             object
 84   pillarvals_24             object
 85   pillarvals_25             object
 86   pillarvals_26             object
 87   pillarvals_29             object
 88   pillarvals_30             object
 89   pillarvals_31             object
 90   pillarvals_32             object
 91   pillarvals_33             object
 92   online_news               object
 93   online_sm                 object
 94   online_shop               object
 95   online_areasinterest      object
 96   online_games              object
 97   online_update             object
 98   online_sharemedia         object
 99   online_watchmedia         object
 100  marital_stats             object
 101  children                  object
 102  age_youngestchild         object
 103  hh_grandparents           object
 104  hh_parents                object
 105  hh_siblings               object
 106  hh_spouse                 object
 107  hh_children               object
 108  hh_relatives              object
 109  hh_helper                 object
 110  hh_mates                  object
 111  hh_employer_their_family  object
 112  hh_grandchildren          object
 113  hh_other                  object
 114  hh_none                   object
 115  highest_ed                object
 116  institution_deg           object
 117  occupation                object
 118  mhi                       object
 119  mpi                       object
 120  weight                    object
dtypes: int64(1), object(120)
memory usage: 2.8+ MB

Inspect data (iii)     
Get statistics for numeric columns

In [52]:
df.describe()

              _id
count  3076.00000
mean   1538.50000
std     888.10904
min       1.00000
25%     769.75000
50%    1538.50000
75%    2307.25000
max    3076.00000

### 2) Data Transformation

Copy a new df for transformation, tr means transformation

In [53]:
df_tr = df.copy()

In [54]:
df_tr = df_tr.set_index('_id')

In [55]:
# for col in ['mpi']:
#     print(f"Unique values in '{col}':")
#     for value in df_tr[col].unique():
#         print(value)
#     print()

Replace missing data '-' with NaN

In [56]:
df_tr = df_tr.replace('-', np.nan).infer_objects(copy=False)

Check missing data

In [57]:
print(df_tr.isnull().sum()[df_tr.isnull().sum() > 0])

volunteerdonate_freq    1083
volunteerdonate_metd    1083
close_sg_friends        2497
os_exp_1                 762
os_exp_2                 762
os_exp_3                 762
os_exp_4                 762
time_os                 2667
study_os                 762
work_os                  762
travel_os                762
migrate_os               762
retire_os                762
age_youngestchild       1148
institution_deg         2314
mpi                     1372
dtype: int64

Validate how to handle the five columns that has NaN values

In [58]:
for col in ['volunteerdonate_freq', 'volunteerdonate_metd', 'age_youngestchild', 'institution_deg', 'mpi']:
    print(f"Unique values in '{col}':")
    print(df_tr[col].unique())
    print()

Unique values in 'volunteerdonate_freq':
[nan 'Less frequently' '1-2 times a year' 'Once a month'
 'Once a week or more' '2-3 times a month']

Unique values in 'volunteerdonate_metd':
[nan 'Both'
 'Informally i.e. not through any organization or organized group'
 'Formally i.e. through an organization or organized group']

Unique values in 'age_youngestchild':
['6' nan '15' 'More than 20 years old' '11' '8' 'Less than 1 year' '12'
 '1 year' '14' '3' '5' '2' '4' '13' '19' '10' '17' '9' '18' '7' '16' '20']

Unique values in 'institution_deg':
[nan 'Non-Singapore based university / institution (via online learning)'
 'Non-Singapore university (studied overseas most or all of the time)'
 'Non-Singapore university with a Singapore campus (studied locally most or all of the time)'
 'Singapore university (e.g. NUS, NTU, SMU, SUSS, SIT, SUTD)'
 'Non-Singapore university via partnerships with a Singapore university or institution'
 'Other']

Unique values in 'mpi':
['Below S$1,000' 'S$1,000-2,000' nan 'S$2,001-S$3,000' 'S$4,001-S$5,000'
 'S$9,001-S$10,000' 'S$3,001-S$4,000' '$11,001-$12,000' 'Refuse'
 'S$7,001-S$8,000' 'Above $20,000' '$13,001-$14,000' 'S$5,001-S$6,000'
 'S$6,001-S$7,000' 'S$8,001-S$9,000' 'S$10,001-$11,000' '$12,001-$13,000'
 '$15,001-$20,000' '$14,001-$15,000' 'No income']

Drop columns that has 100% percent NaN value

In [59]:
df_tr = df_tr.drop(columns=['os_exp_1', 'os_exp_2', 'os_exp_3', 'os_exp_4', 'time_os', 'study_os', 'work_os', 'travel_os', 'migrate_os', 'retire_os'])

Fill missing data with corresponding value

In [60]:
df_tr[['volunteerdonate_freq', 'volunteerdonate_metd']] = df_tr[['volunteerdonate_freq', 'volunteerdonate_metd']].fillna('No')

In [61]:
df_tr['age_youngestchild'] = df_tr['age_youngestchild'].fillna('No child')

In [62]:
df_tr['institution_deg'] = df_tr['institution_deg'].fillna('No degree')

In [63]:
df_tr['mpi'] = df_tr['mpi'].fillna('No income')

Check for duplicates

In [64]:
df_tr.duplicated().sum()

np.int64(0)

In [65]:
df_tr.head()

,uid,sample,gender,age_2,dwelling,industry,social_involve_1,social_involve_2,social_involve_3,social_involve_4,...,hh_employer_their_family,hh_grandchildren,hh_other,hh_none,highest_ed,institution_deg,occupation,mhi,mpi,weight
_id,,,,,,,,,,,,,,,,,,,,,
1,27,Resident (Citizen/PR),Female,25-34 years old,HDB 3 room,Wholesale and Retail Trade,No,No,No,No,...,No,No,No,No,"Secondary/ high school / ""O / N"" Levels",No degree,"Sales and service staff (e.g. Chefs, Cooks, Ca...","S$3,001-S$4,000","Below S$1,000",0.727891904
2,33,Resident (Citizen/PR),Female,25-34 years old,HDB 3 room,Wholesale and Retail Trade,No,No,No,No,...,No,No,No,No,Polytechnic / diploma,No degree,Self-employed / Freelancer,"S$2,001-S$3,000","S$1,000-2,000",0.855263478
3,46,Resident (Citizen/PR),Female,45-54 years old,HDB 4 room,Not currently working,No,No,No,No,...,No,No,No,No,"Secondary/ high school / ""O / N"" Levels",No degree,Home maker,"S$3,001-S$4,000",No income,0.857862718
4,50,Resident (Citizen/PR),Male,55-64 years old,HDB 4 room,Not currently working,No,No,No,No,...,No,No,No,No,"Secondary/ high school / ""O / N"" Levels",No degree,Unemployed,"S$4,001-S$5,000",No income,1.000318165
5,52,Resident (Citizen/PR),Female,25-34 years old,HDB 3 room,Wholesale and Retail Trade,No,No,No,No,...,No,No,No,No,"Secondary/ high school / ""O / N"" Levels",No degree,"Clerical support workers (e.g. Clerks, Custome...","S$6,001-S$7,000","S$2,001-S$3,000",0.855263478

Analyze columns to drop, rename, decode, and keep

In [66]:
for col in df_tr:
    print(f"Unique values in '{col}':")
    print(df_tr[col].unique())
    print()

Unique values in 'uid':
['27' '33' '46' ... '4804' '4805' '4808']

Unique values in 'sample':
['Resident (Citizen/PR)']

Unique values in 'gender':
['Female' 'Male']

Unique values in 'age_2':
['25-34 years old' '45-54 years old' '55-64 years old' '35-44 years old'
 '20-24 years old' '16-19 years old' '65-75 years old']

Unique values in 'dwelling':
['HDB 3 room' 'HDB 4 room' 'Private apartment / Condominium'
 'HDB 5 room / Executive' 'HDB 1-2 room' 'Landed property' 'Dormitory'
 'Other']

Unique values in 'industry':
['Wholesale and Retail Trade' 'Not currently working'
 'Professional, Scientific and Technical Activities' 'Manufacturing'
 'Cleaning services' 'Health and social services'
 'Finance / Banking / Insurance' 'Tourism / Hospitality / Accommodation'
 'Food and beverage' 'Information and Communications'
 'Transportation/logistics/shipping' 'Education' 'Marine' 'Oil & Gas'
 'Aviation' 'Government / Public Sector / Defence' 'Construction'
 'Security' 'Other' 'Real Estate' 'Arts, Entertainment and Recreation'
 'Housekeeping' 'Self employed' 'Driver' 'National service (NS)'
 'Customer service/service' 'Sales/marketing' 'Legal/Law firm' 'Student'
 'Supervisor' 'None of the above' 'Renovation' 'Hair Styling' 'Plumber'
 'Human Resource' 'Maritime' 'Agriculture'
 'Advertising / PR / Media / Journalism' 'Gardener/Landscaping'
 'Maintenance service']

Unique values in 'social_involve_1':
['No' 'Yes']

Unique values in 'social_involve_2':
['No' 'Yes']

Unique values in 'social_involve_3':
['No' 'Yes']

Unique values in 'social_involve_4':
['No' 'Yes']

Unique values in 'social_involve_5':
['No' 'Yes']

Unique values in 'social_involve_6':
['No' 'Yes']

Unique values in 'social_involve_7':
['No' 'Yes']

Unique values in 'social_involve_8':
['No' 'Yes']

Unique values in 'social_involve_9':
['Yes' 'No']

Unique values in 'volunteerdonate_1':
['No' 'Yes']

Unique values in 'volunteerdonate_2':
['No' 'Yes']

Unique values in 'volunteerdonate_3':
['No' 'Yes']

Unique values in 'volunteerdonate_4':
['No' 'Yes']

Unique values in 'volunteerdonate_5':
['No' 'Yes']

Unique values in 'volunteerdonate_6':
['No' 'Yes']

Unique values in 'volunteerdonate_7':
['No' 'Yes']

Unique values in 'volunteerdonate_8':
['No' 'Yes']

Unique values in 'volunteerdonate_9':
['Yes' 'No']

Unique values in 'volunteerdonate_freq':
['No' 'Less frequently' '1-2 times a year' 'Once a month'
 'Once a week or more' '2-3 times a month']

Unique values in 'volunteerdonate_metd':
['No' 'Both'
 'Informally i.e. not through any organization or organized group'
 'Formally i.e. through an organization or organized group']

Unique values in 'snetwork_ethnicity':
['Yes' 'No']

Unique values in 'snetwork_nationality':
['Yes' 'No']

Unique values in 'snetwork_religion':
['No' 'Yes']

Unique values in 'snetwork_income':
['Yes' 'No']

Unique values in 'snetwork_education':
['Yes' 'No']

Unique values in 'snetwork_sorientation':
['Yes' 'No']

Unique values in 'close_sg_friends':
['No' 'Yes' nan]

Unique values in 'sinteract_meal':
['Yes' 'No']

Unique values in 'sinteract_invitedfriend':
['No' 'Yes']

Unique values in 'sinteract_beeninvited':
['Yes' 'No']

Unique values in 'sinteract_participated':
['Yes' 'No']

Unique values in 'support_immedfam':
['10 - A lot' '8' '9' '3' '5' '7' '6' '4' '1' '0 - Not at all' '2']

Unique values in 'support_extfam':
['10 - A lot' '6' '1' '8' '3' '5' '7' '0 - Not at all' '9' '4' '2']

Unique values in 'support_worksch':
['8' '10 - A lot' '0 - Not at all' '5' '6' '3' '9' '7' '1' '2' '4']

Unique values in 'support_friends':
['8' '10 - A lot' '6' '5' '3' '9' '7' '4' '0 - Not at all' '2' '1']

Unique values in 'outcome_connection':
['10 - Very strong' '8' '7' '5' '6' '9' '4' '3' '1'
 '0 - Not strong at all' '2']

Unique values in 'outcome_future':
['10 - I have a strong desire to be a part of shaping Singaporeâ€™s future'
 '7' '8' '6' '9' '4' '5' '3'
 '0 - I donâ€™t want to have any part of shaping Singaporeâ€™s future' '2' '1']

Unique values in 'pillarbeh_1':
['6' '10 - Strongly agree' '5' '7' '9' '2' '8' '4' '3' '1'
 '0 - Do not agree at all']

Unique values in 'pillarbeh_2':
['5' '10 - Strongly agree' '8' '6' '9' '7' '4' '1'
 '0 - Do not agree at all' '2' '3']

Unique values in 'pillarbeh_3':
['6' '5' '7' '10 - Strongly agree' '8' '9' '0 - Do not agree at all' '4'
 '3' '2' '1']

Unique values in 'pillarbeh_4':
['6' '5' '10 - Strongly agree' '8' '7' '4' '9' '1' '3' '2'
 '0 - Do not agree at all']

Unique values in 'pillarbeh_5':
['5' '0 - Do not agree at all' '7' '8' '10 - Strongly agree' '6' '4' '3'
 '9' '1' '2']

Unique values in 'pillarbeh_6':
['6' '10 - Strongly agree' '5' '7' '8' '4' '9' '3' '1' '2'
 '0 - Do not agree at all']

Unique values in 'pillarbeh_7':
['5' '10 - Strongly agree' '8' '1' '7' '6' '9' '4' '3'
 '0 - Do not agree at all' '2']

Unique values in 'pillarbeh_8':
['6' '10 - Strongly agree' '5' '8' '7' '9' '0 - Do not agree at all' '2'
 '4' '3' '1']

Unique values in 'pillarbeh_9':
['5' '2' '8' '0 - Do not agree at all' '10 - Strongly agree' '7' '1' '4'
 '9' '6' '3']

Unique values in 'pillarbeh_10':
['5' '10 - Strongly agree' '7' '6' '8' '9' '4' '3' '2' '1'
 '0 - Do not agree at all']

Unique values in 'pillarbeh_11':
['5' '10 - Strongly agree' '7' '6' '9' '8' '4' '0 - Do not agree at all'
 '2' '3' '1']

Unique values in 'pillarbeh_12':
['6' '10 - Strongly agree' '5' '8' '7' '9' '1' '0 - Do not agree at all'
 '4' '2' '3']

Unique values in 'pillarbeh_13':
['6' '10 - Strongly agree' '5' '8' '7' '9' '3' '4'
 '0 - Do not agree at all' '1' '2']

Unique values in 'pillarbeh_14':
['5' '10 - Strongly agree' '6' '8' '9' '7' '3' '4'
 '0 - Do not agree at all' '2' '1']

Unique values in 'pillarbeh_15':
['6' '10 - Strongly agree' '7' '5' '9' '8' '1' '4'
 '0 - Do not agree at all' '2' '3']

Unique values in 'pillarvals_1':
['6' '10 - Strongly agree' '7' '8' '9' '5' '3' '4'
 '0 - Do not agree at all' '1' '2']

Unique values in 'pillarvals_2':
['8' '10 - Strongly agree' '7' '9' '6' '5' '0 - Do not agree at all' '4'
 '3' '1' '2']

Unique values in 'pillarvals_3':
['7' '10 - Strongly agree' '5' '6' '8' '9' '3' '2'
 '0 - Do not agree at all' '4' '1']

Unique values in 'pillarvals_4':
['9' '10 - Strongly agree' '5' '6' '8' '7' '4' '0 - Do not agree at all'
 '2' '1' '3']

Unique values in 'pillarvals_5':
['9' '10 - Strongly agree' '7' '6' '8' '5' '4' '2'
 '0 - Do not agree at all' '3' '1']

Unique values in 'pillarvals_6':
['5' '10 - Strongly agree' '4' '6' '8' '7' '0 - Do not agree at all' '9'
 '2' '3' '1']

Unique values in 'pillarvals_7':
['5' '10 - Strongly agree' '6' '7' '8' '0 - Do not agree at all' '9' '4'
 '2' '3' '1']

Unique values in 'pillarvals_8':
['5' '10 - Strongly agree' '7' '8' '6' '9' '2' '4'
 '0 - Do not agree at all' '3' '1']

Unique values in 'pillarvals_9':
['6' '10 - Strongly agree' '5' '4' '8' '7' '0 - Do not agree at all' '2'
 '9' '3' '1']

Unique values in 'pillarvals_12':
['5' '10 - Strongly agree' '7' '6' '8' '9' '3' '4' '1'
 '0 - Do not agree at all' '2']

Unique values in 'pillarvals_13':
['9' '10 - Strongly agree' '5' '7' '8' '6' '2' '3' '1' '4'
 '0 - Do not agree at all']

Unique values in 'pillarvals_14':
['6' '10 - Strongly agree' '8' '7' '9' '5' '4' '3'
 '0 - Do not agree at all' '1' '2']

Unique values in 'pillarvals_21':
['9' '10 - Strongly agree' '8' '5' '7' '6' '3' '4'
 '0 - Do not agree at all' '2' '1']

Unique values in 'pillarvals_22':
['6' '10 - Strongly agree' '7' '8' '5' '9' '2' '4' '3'
 '0 - Do not agree at all' '1']

Unique values in 'pillarvals_23':
['6' '10 - Strongly agree' '9' '7' '8' '5' '3' '4' '1' '2'
 '0 - Do not agree at all']

Unique values in 'pillarvals_24':
['6' '10 - Strongly agree' '7' '8' '5' '9' '4' '0 - Do not agree at all'
 '3' '1' '2']

Unique values in 'pillarvals_25':
['7' '10 - Strongly agree' '5' '8' '9' '6' '4' '0 - Do not agree at all'
 '1' '2' '3']

Unique values in 'pillarvals_26':
['6' '10 - Strongly agree' '8' '5' '7' '2' '9' '0 - Do not agree at all'
 '4' '1' '3']

Unique values in 'pillarvals_29':
['6' '10 - Strongly agree' '8' '7' '9' '5' '3' '4' '2'
 '0 - Do not agree at all' '1']

Unique values in 'pillarvals_30':
['6' '10 - Strongly agree' '8' '5' '7' '9' '4' '3'
 '0 - Do not agree at all' '2' '1']

Unique values in 'pillarvals_31':
['6' '10 - Strongly agree' '5' '8' '7' '9' '0 - Do not agree at all' '2'
 '4' '3' '1']

Unique values in 'pillarvals_32':
['6' '10 - Strongly agree' '7' '8' '9' '5' '4' '0 - Do not agree at all'
 '1' '3' '2']

Unique values in 'pillarvals_33':
['9' '10 - Strongly agree' '7' '8' '6' '5' '4' '2' '3'
 '0 - Do not agree at all' '1']

Unique values in 'online_news':
['Less frequently' 'A few times a week' 'Daily' 'A few times a month']

Unique values in 'online_sm':
['Daily' 'A few times a week' 'Less frequently' 'A few times a month']

Unique values in 'online_shop':
['Less frequently' 'Daily' 'A few times a month' 'A few times a week']

Unique values in 'online_areasinterest':
['A few times a month' 'Daily' 'A few times a week' 'Less frequently']

Unique values in 'online_games':
['Less frequently' 'Daily' 'A few times a week' 'A few times a month']

Unique values in 'online_update':
['Less frequently' 'A few times a month' 'Daily' 'A few times a week']

Unique values in 'online_sharemedia':
['Daily' 'Less frequently' 'A few times a month' 'A few times a week']

Unique values in 'online_watchmedia':
['Daily' 'A few times a month' 'Less frequently' 'A few times a week']

Unique values in 'marital_stats':
['Married' 'Single' 'Divorced / Widowed / Separated']

Unique values in 'children':
['Yes' 'No']

Unique values in 'age_youngestchild':
['6' 'No child' '15' 'More than 20 years old' '11' '8' 'Less than 1 year'
 '12' '1 year' '14' '3' '5' '2' '4' '13' '19' '10' '17' '9' '18' '7' '16'
 '20']

Unique values in 'hh_grandparents':
['No' 'Yes']

Unique values in 'hh_parents':
['No' 'Yes']

Unique values in 'hh_siblings':
['No' 'Yes']

Unique values in 'hh_spouse':
['Yes' 'No']

Unique values in 'hh_children':
['Yes' 'No']

Unique values in 'hh_relatives':
['No' 'Yes']

Unique values in 'hh_helper':
['No' 'Yes']

Unique values in 'hh_mates':
['No' 'Yes']

Unique values in 'hh_employer_their_family':
['No']

Unique values in 'hh_grandchildren':
['No' 'Yes']

Unique values in 'hh_other':
['No' 'Yes']

Unique values in 'hh_none':
['No' 'Yes']

Unique values in 'highest_ed':
['Secondary/ high school / "O / N" Levels' 'Polytechnic / diploma'
 'Primary school / PSLE' 'Post graduate degree' 'University / degree'
 'Technical / vocational school' 'Junior College / Pre-U / "A" Levels'
 'No formal education' 'Other']

Unique values in 'institution_deg':
['No degree'
 'Non-Singapore based university / institution (via online learning)'
 'Non-Singapore university (studied overseas most or all of the time)'
 'Non-Singapore university with a Singapore campus (studied locally most or all of the time)'
 'Singapore university (e.g. NUS, NTU, SMU, SUSS, SIT, SUTD)'
 'Non-Singapore university via partnerships with a Singapore university or institution'
 'Other']

Unique values in 'occupation':
['Sales and service staff (e.g. Chefs, Cooks, Cashiers, Waiters, Sales Assistant etc)'
 'Self-employed / Freelancer' 'Home maker' 'Unemployed'
 'Clerical support workers (e.g. Clerks, Customer service officers, Secretary, Receptionists etc)'
 'Middle management (managerial)'
 'Professional (Lawyer, Doctor, Engineer, Accountant, Nurse, etc)'
 'Senior management (CEO, Director, GM)' 'Executives / officers' 'Student'
 'Retired' 'Cleaners, labourers and related workers'
 'Craftsmen and related trades workers (e.g. Electrician, Plumber, Contractor, Baker etc)'
 'Associate professionals (e.g. Paramedic, Assistant Engineer etc)'
 'Plant, Machine Operators and Assemblers (e.g. Machine operator, Crane Operator, Driver etc)'
 'National service (NS)' 'Other' 'None of the above']

Unique values in 'mhi':
['S$3,001-S$4,000' 'S$2,001-S$3,000' 'S$4,001-S$5,000' 'S$6,001-S$7,000'
 'Refuse' 'S$5,001-S$6,000' '$15,001-$20,000' 'S$8,001-S$9,000'
 '$11,001-$12,000' 'S$7,001-S$8,000' 'Below S$1,000' 'S$9,001-S$10,000'
 '$12,001-$13,000' '$10,001-$11,000' 'Above $20,000' '$13,001-$14,000'
 '$14,001-$15,000' 'S$1,000-2,000' 'No income']

Unique values in 'mpi':
['Below S$1,000' 'S$1,000-2,000' 'No income' 'S$2,001-S$3,000'
 'S$4,001-S$5,000' 'S$9,001-S$10,000' 'S$3,001-S$4,000' '$11,001-$12,000'
 'Refuse' 'S$7,001-S$8,000' 'Above $20,000' '$13,001-$14,000'
 'S$5,001-S$6,000' 'S$6,001-S$7,000' 'S$8,001-S$9,000' 'S$10,001-$11,000'
 '$12,001-$13,000' '$15,001-$20,000' '$14,001-$15,000']

Unique values in 'weight':
['0.727891904' '0.855263478' '0.857862718' '1.000318165' '0.886406868'
 '0.892930588' '0.836587115' '1.018772925' '0.749938938' '0.757646803'
 '0.817909423' '0.679537427' '0.806980321' '0.978762877' '0.87932326'
 '0.775305876' '0.972978665' '0.803732011' '1.21855292' '0.670811305'
 '0.772323495' '0.754397211' '0.781011922' '0.852792993' '0.806998972'
 '0.881557613' '1.2263212' '0.728592026' '0.881168454' '1.314551139'
 '0.75033941' '0.748368542' '0.891081358' '0.749618391' '0.890225096'
 '1.255461527' '1.019222856' '1.432396011' '0.882930964' '0.973408371'
 '0.888360937' '1.414809721' '1.490949758' '1.26890752' '0.805309091'
 '0.982978931' '0.861926405' '0.780595079' '0.85347253' '0.944374613'
 '0.776914842' '0.785235599' '0.876755424' '0.887653621' '0.740731537'
 '0.508340578' '0.955919824' '0.92264157' '0.808673709' '0.803894676'
 '1.013352663' '1.440911389' '0.758375545' '0.905928201' '0.828076156'
 '0.856086113' '1.012752266' '0.867050428' '0.870349879' '0.828567071'
 '1.447118165' '1.306782514' '0.686815272' '0.780261429' '0.770706226'
 '0.827722211' '0.697924621' '1.262925057' '1.26836515' '0.862437388'
 '1.204106767' '0.707315682' '0.773682362' '0.904031159' '0.91718902'
 '0.888179856' '1.49981323' '1.11646241' '0.823318412' '1.390285806'
 '0.967802047' '0.884550705' '0.68537706' '0.92070953' '1.472644572'
 '1.26030958' '0.915268398' '0.756060267' '0.778960489' '0.861557991'
 '0.75281748' '1.253328464' '1.007364036' '0.944791686' '0.778627537'
 '0.99499609' '0.783591291' '0.711114473' '0.685826992' '0.670515179'
 '0.597557326' '0.842322798' '0.979195137' '0.961032887' '0.775648282'
 '1.312408102' '0.87073426' '0.983413054' '1.183235119' '0.906328295'
 '1.231603621' '0.99543552' '0.851531407' '0.886340464' '0.823670474'
 '0.855641197' '0.868527339' '1.311828746' '0.832998944' '1.240047556'
 '1.415434557' '0.923049046' '0.961457317' '0.65918365' '1.000759946'
 '0.837841318' '1.013199537' '1.500475607' '1.290738447' '0.890618254'
 '0.891474895' '0.872090749' '0.67884978' '1.390899812' '1.149787146'
 '0.544914077' '1.104631804' '0.856464194' '1.260866183' '0.706911988'
 '0.682885439' '0.68612988' '0.977749107' '0.619318272' '0.594995919'
 '1.491608221' '1.276450983' '0.973555484' '0.698232852' '1.219073989'
 '0.658892657' '0.621709812' '0.577503969' '0.939350178' '0.705834541'
 '0.679149587' '0.851344074' '0.587690837' '0.621984384' '0.710800556'
 '1.447757269' '0.59853308' '0.88679834' '0.807355375' '0.623000025'
 '0.61171457' '0.794024832' '14.59693555' '0.683187029' '0.917594087'
 '0.706599926' '0.560765943' '1.47329495' '0.762841267' '0.886731907'
 '0.79236212' '0.746347318' '0.77685664' '1.441547753' '0.604943369'
 '0.805664748' '0.884941357' '0.813557832' '1.433028614' '0.915672617'
 '0.761243854' '1.072615824' '0.774024051' '0.868910915' '0.769396775'
 '0.775287958' '0.956341996' '0.904430415' '0.888753272' '16.16450355'
 '0.846814598' '0.921116152' '0.748048667']

In [67]:
print(df_tr.isnull().sum()[df_tr.isnull().sum() > 0])

close_sg_friends    2497
dtype: int64

Drop and clean redundant columns

In [68]:
df_tr = df_tr.drop(columns=['uid', 'sample', 'close_sg_friends'])

Change columnn name for clarity

In [69]:
df_tr = df_tr.rename(columns={
    'age_2': 'age_group',
    'dwelling': 'housing',
    'industry': 'job_industry'
})

Validate if job_industry = 'Not currently working' means mpi = 'No income'

In [70]:
vald_jbind = df_tr[df_tr['job_industry'].str.contains('Not currently working', na=False) == True]
print(vald_jbind[['job_industry','mpi']])

               job_industry        mpi
_id
3     Not currently working  No income
4     Not currently working  No income
6     Not currently working  No income
10    Not currently working  No income
12    Not currently working  No income
...                     ...        ...
3072  Not currently working  No income
3073  Not currently working  No income
3074  Not currently working  No income
3075  Not currently working  No income
3076  Not currently working  No income

[1351 rows x 2 columns]

Validate if occupation = 'Unemployed' means mpi = 'No income'

In [71]:
vald_occ = df_tr[df_tr['occupation'].str.contains('Unemployed', na=False) == True]
print(vald_occ[['occupation','mpi']])

      occupation        mpi
_id
4     Unemployed  No income
16    Unemployed  No income
21    Unemployed  No income
35    Unemployed  No income
45    Unemployed  No income
...          ...        ...
2965  Unemployed  No income
2967  Unemployed  No income
2991  Unemployed  No income
3034  Unemployed  No income
3071  Unemployed  No income

[124 rows x 2 columns]

Further validate group with 'No income'

In [72]:
vald_noicm = df_tr[df_tr['mpi'].str.contains('No income', na=False) == True]
print(vald_noicm[['occupation','mpi']])

      occupation        mpi
_id
3     Home maker  No income
4     Unemployed  No income
6     Home maker  No income
10    Home maker  No income
12    Home maker  No income
...          ...        ...
3072     Retired  No income
3073     Retired  No income
3074     Student  No income
3075  Home maker  No income
3076  Home maker  No income

[1377 rows x 2 columns]

Validate if children = 'No' means age_youngestchild = 'No child'

In [73]:
vald_child = df_tr[df_tr['children'].str.contains('No', na=False) == True]
print(vald_child[['children','age_youngestchild']])

     children age_youngestchild
_id
2          No          No child
6          No          No child
11         No          No child
13         No          No child
17         No          No child
...       ...               ...
3061       No          No child
3066       No          No child
3070       No          No child
3071       No          No child
3074       No          No child

[1148 rows x 2 columns]

Since children = 'No' means age_youngestchild = 'No child', drop children col

In [74]:
df_tr = df_tr.drop(columns=['children'])

Validate if institution_deg = 'No degree' means highest_ed = 'Post graduate degree' or 'University / degree'

In [75]:
vald_degree = df_tr[df_tr['institution_deg'].str.contains('No degree', na=False) == True]
print(vald_degree[['institution_deg','highest_ed']])

     institution_deg                               highest_ed
_id
1          No degree  Secondary/ high school / "O / N" Levels
2          No degree                    Polytechnic / diploma
3          No degree  Secondary/ high school / "O / N" Levels
4          No degree  Secondary/ high school / "O / N" Levels
5          No degree  Secondary/ high school / "O / N" Levels
...              ...                                      ...
3071       No degree            Technical / vocational school
3072       No degree  Secondary/ high school / "O / N" Levels
3074       No degree  Secondary/ high school / "O / N" Levels
3075       No degree                    Polytechnic / diploma
3076       No degree            Technical / vocational school

[2314 rows x 2 columns]

Validate if able to one-hot decode multiple columns with 'Yes' and 'No' value   
3 Categories: snetwork.., sinteract.. and hh.. are unable to decode due to same value across different columns

In [76]:
hh_columns = df_tr.filter(like='snet', axis=1)
display(hh_columns)

,snetwork_ethnicity,snetwork_nationality,snetwork_religion,snetwork_income,snetwork_education,snetwork_sorientation
_id,,,,,,
1,Yes,Yes,No,Yes,Yes,Yes
2,Yes,Yes,Yes,Yes,Yes,Yes
3,Yes,Yes,Yes,Yes,Yes,Yes
4,Yes,Yes,Yes,Yes,Yes,Yes
5,No,Yes,Yes,Yes,Yes,Yes
...,...,...,...,...,...,...
3072,No,No,Yes,Yes,Yes,No
3073,Yes,No,Yes,Yes,Yes,No
3074,Yes,No,Yes,Yes,Yes,Yes
3075,No,No,No,Yes,Yes,No
3076,Yes,No,Yes,Yes,Yes,Yes

Standardise by renaming value in columns:  
support_extfam, support_worksch, support_friends

In [77]:
df_tr = df_tr.replace('10 - A lot', '10').infer_objects(copy=False)
df_tr = df_tr.replace('0 - Not at all', '0').infer_objects(copy=False)
df_tr = df_tr.replace('0 - Not strong at all').infer_objects(copy=False)

C:\Users\Andy\AppData\Local\Temp\ipykernel_26228\554190673.py:3: FutureWarning: DataFrame.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  df_tr = df_tr.replace('0 - Not strong at all').infer_objects(copy=False)

In [78]:
supp_columns = df_tr.filter(like='support', axis=1)
display(supp_columns.head())

    support_immedfam support_extfam support_worksch support_friends
_id
1                 10             10               8               8
2                 10             10              10              10
3                 10             10               0              10
4                  8              6               5               6
5                 10              1              10              10

Assume values in columns with missing value are due to no participants fill in the corresponding value  
Standardise by renaming value in columns

In [79]:
df_tr = df_tr.replace('10 - Very strong', '10').infer_objects(copy=False)
df_tr = df_tr.replace('10 - I have a strong desire to be a part of shaping Singaporeâ€™s future', '10').infer_objects(copy=False)
df_tr = df_tr.replace('10 - Strongly agree', '10').infer_objects(copy=False)
df_tr = df_tr.replace('0 - Do not agree at all', '0').infer_objects(copy=False)
df_tr = df_tr.replace('Informally i.e. not through any organization or organized group', 'Informal NotThruOrg').infer_objects(copy=False)
df_tr = df_tr.replace('Formally i.e. through an organization or organized group', 'Formal ThruOrg').infer_objects(copy=False)
df_tr = df_tr.replace('0 - I donâ€™t want to have any part of shaping Singaporeâ€™s future', '0').infer_objects(copy=False)

Change columns name for clarity

In [80]:
df_tr = df_tr.rename(columns={
    'pillarbeh_1': 'bhvsca_civil',
    'pillarbeh_2': 'bhvsca_supp_lovedones',
    'pillarbeh_3': 'bhvsca_supp_collneigh',
    'pillarbeh_4': 'bhvsca_reg_donate',
    'pillarbeh_5': 'bhvsca_reg_vol',
    'pillarbeh_6': 'bhvsca_proact',
    'pillarbeh_7': 'bhvsca_civicfdbk',
    'pillarbeh_8': 'bhvsca_comm_mobil',
    'pillarbeh_9': 'bhvsca_comm_particip',
    'pillarbeh_10': 'bhvsca_interculturism',
    'pillarbeh_11': 'bhvsca_racesensitivity',
    'pillarbeh_12': 'bhvsca_racemediation',
    'pillarbeh_13': 'bhvsca_diversity',
    'pillarbeh_14': 'bhvsca_worldly',
    'pillarbeh_15': 'bhvsca_diverse_bffs'
})

In [81]:
df_tr = df_tr.rename(columns={
    'pillarvals_1': 'valsca_socialnorms',
    'pillarvals_2': 'valsca_guideby_moral',
    'pillarvals_3': 'valsca_conformism',
    'pillarvals_4': 'valsca_altruism',
    'pillarvals_5': 'valsca_civicduty',
    'pillarvals_6': 'valsca_dogood_feelgood',
    'pillarvals_7': 'valsca_risky_help',
    'pillarvals_8': 'valsca_intuition_help',
    'pillarvals_9': 'valsca_advocate',
    'pillarvals_12': 'valsca_foster_civicduty',
    'pillarvals_13': 'valsca_positivechg',
    'pillarvals_14': 'valsca_belonging',
    'pillarvals_21': 'valsca_culture_similar',
    'pillarvals_22': 'valsca_benef_intercultur',
    'pillarvals_23': 'valsca_oppt_intercultur',
    'pillarvals_24': 'valsca_oppt_nationlty',
    'pillarvals_25': 'valsca_respt_diversty',
    'pillarvals_26': 'valsca_culture_sensitivity',
    'pillarvals_29': 'valsca_optimism_sg',
    'pillarvals_30': 'valsca_patriotism_sg',
    'pillarvals_31': 'valsca_oppt_ambition_sg',
    'pillarvals_32': 'valsca_oppt_selfval_sg',
    'pillarvals_33': 'valsca_commit_stay_sg'
})

In [82]:
df_tr = df_tr.rename(columns={
    'social_involve_1': 'socinv_sport',
    'social_involve_2': 'socinv_artncult',
    'social_involve_3': 'socinv_cmmty',
    'social_involve_4': 'socinv_welfselfhlp',
    'social_involve_5': 'socinv_religious',
    'social_involve_6': 'socinv_hobby',
    'social_involve_7': 'socinv_pol',
    'social_involve_8': 'socinv_other',
    'social_involve_9': 'socinv_none'
})

In [83]:
df_tr = df_tr.rename(columns={
    'volunteerdonate_1': 'voldon_commorg',
    'volunteerdonate_2': 'voldon_money',
    'volunteerdonate_3': 'voldon_svsgoods',
    'volunteerdonate_4': 'voldon_commproj',
    'volunteerdonate_5': 'voldon_blood',
    'volunteerdonate_6': 'voldon_groundup',
    'volunteerdonate_7': 'voldon_inneed',
    'volunteerdonate_8': 'voldon_other',
    'volunteerdonate_9': 'voldonat_none',
    'volunteerdonate_freq': 'voldon_freq',
    ' volunteerdonate_metd': 'voldon_metd'
})

In [84]:
df_tr = df_tr.rename(columns={
    'outcome_connection': 'strength_connectsg',
    'outcome_future': 'strength_shapingsg'
})

Check through to ensure all columns name cleaned for clarity

In [85]:
df_tr.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 3076 entries, 1 to 3076
Data columns (total 106 columns):
 #    Column                      Dtype
---   ------                      -----
 0    gender                      object
 1    age_group                   object
 2    housing                     object
 3    job_industry                object
 4    socinv_sport                object
 5    socinv_artncult             object
 6    socinv_cmmty                object
 7    socinv_welfselfhlp          object
 8    socinv_religious            object
 9    socinv_hobby                object
 10   socinv_pol                  object
 11   socinv_other                object
 12   socinv_none                 object
 13   voldon_commorg              object
 14   voldon_money                object
 15   voldon_svsgoods             object
 16   voldon_commproj             object
 17   voldon_blood                object
 18   voldon_groundup             object
 19   voldon_inneed               object
 20   voldon_other                object
 21   voldonat_none               object
 22   voldon_freq                 object
 23   volunteerdonate_metd        object
 24   snetwork_ethnicity          object
 25   snetwork_nationality        object
 26   snetwork_religion           object
 27   snetwork_income             object
 28   snetwork_education          object
 29   snetwork_sorientation       object
 30   sinteract_meal              object
 31   sinteract_invitedfriend     object
 32   sinteract_beeninvited       object
 33   sinteract_participated      object
 34   support_immedfam            object
 35   support_extfam              object
 36   support_worksch             object
 37   support_friends             object
 38   strength_connectsg          object
 39   strength_shapingsg          object
 40   bhvsca_civil                object
 41   bhvsca_supp_lovedones       object
 42   bhvsca_supp_collneigh       object
 43   bhvsca_reg_donate           object
 44   bhvsca_reg_vol              object
 45   bhvsca_proact               object
 46   bhvsca_civicfdbk            object
 47   bhvsca_comm_mobil           object
 48   bhvsca_comm_particip        object
 49   bhvsca_interculturism       object
 50   bhvsca_racesensitivity      object
 51   bhvsca_racemediation        object
 52   bhvsca_diversity            object
 53   bhvsca_worldly              object
 54   bhvsca_diverse_bffs         object
 55   valsca_socialnorms          object
 56   valsca_guideby_moral        object
 57   valsca_conformism           object
 58   valsca_altruism             object
 59   valsca_civicduty            object
 60   valsca_dogood_feelgood      object
 61   valsca_risky_help           object
 62   valsca_intuition_help       object
 63   valsca_advocate             object
 64   valsca_foster_civicduty     object
 65   valsca_positivechg          object
 66   valsca_belonging            object
 67   valsca_culture_similar      object
 68   valsca_benef_intercultur    object
 69   valsca_oppt_intercultur     object
 70   valsca_oppt_nationlty       object
 71   valsca_respt_diversty       object
 72   valsca_culture_sensitivity  object
 73   valsca_optimism_sg          object
 74   valsca_patriotism_sg        object
 75   valsca_oppt_ambition_sg     object
 76   valsca_oppt_selfval_sg      object
 77   valsca_commit_stay_sg       object
 78   online_news                 object
 79   online_sm                   object
 80   online_shop                 object
 81   online_areasinterest        object
 82   online_games                object
 83   online_update               object
 84   online_sharemedia           object
 85   online_watchmedia           object
 86   marital_stats               object
 87   age_youngestchild           object
 88   hh_grandparents             object
 89   hh_parents                  object
 90   hh_siblings                 object
 91   hh_spouse                   object
 92   hh_children                 object
 93   hh_relatives                object
 94   hh_helper                   object
 95   hh_mates                    object
 96   hh_employer_their_family    object
 97   hh_grandchildren            object
 98   hh_other                    object
 99   hh_none                     object
 100  highest_ed                  object
 101  institution_deg             object
 102  occupation                  object
 103  mhi                         object
 104  mpi                         object
 105  weight                      object
dtypes: object(106)
memory usage: 2.5+ MB

In [86]:
df_tr.head()

,gender,age_group,housing,job_industry,socinv_sport,socinv_artncult,socinv_cmmty,socinv_welfselfhlp,socinv_religious,socinv_hobby,...,hh_employer_their_family,hh_grandchildren,hh_other,hh_none,highest_ed,institution_deg,occupation,mhi,mpi,weight
_id,,,,,,,,,,,,,,,,,,,,,
1,Female,25-34 years old,HDB 3 room,Wholesale and Retail Trade,No,No,No,No,No,No,...,No,No,No,No,"Secondary/ high school / ""O / N"" Levels",No degree,"Sales and service staff (e.g. Chefs, Cooks, Ca...","S$3,001-S$4,000","Below S$1,000",0.727891904
2,Female,25-34 years old,HDB 3 room,Wholesale and Retail Trade,No,No,No,No,No,No,...,No,No,No,No,Polytechnic / diploma,No degree,Self-employed / Freelancer,"S$2,001-S$3,000","S$1,000-2,000",0.855263478
3,Female,45-54 years old,HDB 4 room,Not currently working,No,No,No,No,Yes,No,...,No,No,No,No,"Secondary/ high school / ""O / N"" Levels",No degree,Home maker,"S$3,001-S$4,000",No income,0.857862718
4,Male,55-64 years old,HDB 4 room,Not currently working,No,No,No,No,No,No,...,No,No,No,No,"Secondary/ high school / ""O / N"" Levels",No degree,Unemployed,"S$4,001-S$5,000",No income,1.000318165
5,Female,25-34 years old,HDB 3 room,Wholesale and Retail Trade,No,No,No,No,No,No,...,No,No,No,No,"Secondary/ high school / ""O / N"" Levels",No degree,"Clerical support workers (e.g. Clerks, Custome...","S$6,001-S$7,000","S$2,001-S$3,000",0.855263478

Convert object data to suitable formats (category or integer) for further usages and tasks

In [87]:
categorical_cols = ['gender', 'age_group', 'housing', 'job_industry', 'socinv_sport', 
                    'socinv_artncult', 'socinv_cmmty', 'socinv_welfselfhlp', 'socinv_religious', 
                    'socinv_hobby', 'socinv_pol', 'socinv_other', 'socinv_none', 
                    'voldon_commorg', 'voldon_money', 'voldon_svsgoods', 'voldon_commproj', 
                    'voldon_blood', 'voldon_groundup', 'voldon_inneed', 'voldon_other', 
                    'voldonat_none', 'voldon_freq', 'volunteerdonate_metd', 'snetwork_ethnicity', 
                    'snetwork_nationality', 'snetwork_religion', 'snetwork_income', 
                    'snetwork_education', 'snetwork_sorientation', 'sinteract_meal', 
                    'sinteract_invitedfriend', 'sinteract_beeninvited', 'sinteract_participated',
                    'online_news', 'online_sm', 'online_shop', 'online_areasinterest',
                    'online_games', 'online_update', 'online_sharemedia', 'online_watchmedia',
                    'age_youngestchild', 
                    'hh_grandparents', 'hh_parents', 'hh_siblings', 'hh_spouse', 'hh_children', 'hh_relatives',
                    'hh_helper', 'hh_mates', 'hh_employer_their_family', 'hh_grandchildren', 'hh_other', 'hh_none',
                    'marital_stats', 'highest_ed', 'institution_deg', 'occupation', 'mhi', 'mpi'
                    ]

for col in categorical_cols:
    df_tr[col] = df_tr[col].astype('category')

In [88]:
integer_cols = ['support_immedfam', 'support_extfam', 'support_worksch', 'support_friends', 
                'strength_connectsg', 'strength_shapingsg', 'bhvsca_civil', 'bhvsca_supp_lovedones', 
                'bhvsca_supp_collneigh', 'bhvsca_reg_donate', 'bhvsca_reg_vol', 'bhvsca_proact', 
                'bhvsca_civicfdbk', 'bhvsca_comm_mobil', 'bhvsca_comm_particip', 
                'bhvsca_interculturism', 'bhvsca_racesensitivity', 'bhvsca_racemediation', 
                'bhvsca_diversity', 'bhvsca_worldly', 'bhvsca_diverse_bffs', 
                'valsca_socialnorms', 'valsca_guideby_moral', 'valsca_conformism', 
                'valsca_altruism', 'valsca_civicduty', 'valsca_dogood_feelgood', 
                'valsca_risky_help', 'valsca_intuition_help', 'valsca_advocate', 
                'valsca_foster_civicduty', 'valsca_positivechg', 'valsca_belonging',
                'valsca_culture_similar', 'valsca_benef_intercultur', 'valsca_oppt_intercultur', 
                'valsca_oppt_nationlty', 'valsca_respt_diversty', 'valsca_culture_sensitivity', 
                'valsca_optimism_sg', 'valsca_patriotism_sg', 'valsca_oppt_ambition_sg', 
                'valsca_oppt_selfval_sg', 'valsca_commit_stay_sg', 'weight'
                ]

for col in integer_cols:
    df_tr[col] = df_tr[col].astype('float').astype('int')

In [89]:
df_tr.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 3076 entries, 1 to 3076
Data columns (total 106 columns):
 #    Column                      Dtype
---   ------                      -----
 0    gender                      category
 1    age_group                   category
 2    housing                     category
 3    job_industry                category
 4    socinv_sport                category
 5    socinv_artncult             category
 6    socinv_cmmty                category
 7    socinv_welfselfhlp          category
 8    socinv_religious            category
 9    socinv_hobby                category
 10   socinv_pol                  category
 11   socinv_other                category
 12   socinv_none                 category
 13   voldon_commorg              category
 14   voldon_money                category
 15   voldon_svsgoods             category
 16   voldon_commproj             category
 17   voldon_blood                category
 18   voldon_groundup             category
 19   voldon_inneed               category
 20   voldon_other                category
 21   voldonat_none               category
 22   voldon_freq                 category
 23   volunteerdonate_metd        category
 24   snetwork_ethnicity          category
 25   snetwork_nationality        category
 26   snetwork_religion           category
 27   snetwork_income             category
 28   snetwork_education          category
 29   snetwork_sorientation       category
 30   sinteract_meal              category
 31   sinteract_invitedfriend     category
 32   sinteract_beeninvited       category
 33   sinteract_participated      category
 34   support_immedfam            int64
 35   support_extfam              int64
 36   support_worksch             int64
 37   support_friends             int64
 38   strength_connectsg          int64
 39   strength_shapingsg          int64
 40   bhvsca_civil                int64
 41   bhvsca_supp_lovedones       int64
 42   bhvsca_supp_collneigh       int64
 43   bhvsca_reg_donate           int64
 44   bhvsca_reg_vol              int64
 45   bhvsca_proact               int64
 46   bhvsca_civicfdbk            int64
 47   bhvsca_comm_mobil           int64
 48   bhvsca_comm_particip        int64
 49   bhvsca_interculturism       int64
 50   bhvsca_racesensitivity      int64
 51   bhvsca_racemediation        int64
 52   bhvsca_diversity            int64
 53   bhvsca_worldly              int64
 54   bhvsca_diverse_bffs         int64
 55   valsca_socialnorms          int64
 56   valsca_guideby_moral        int64
 57   valsca_conformism           int64
 58   valsca_altruism             int64
 59   valsca_civicduty            int64
 60   valsca_dogood_feelgood      int64
 61   valsca_risky_help           int64
 62   valsca_intuition_help       int64
 63   valsca_advocate             int64
 64   valsca_foster_civicduty     int64
 65   valsca_positivechg          int64
 66   valsca_belonging            int64
 67   valsca_culture_similar      int64
 68   valsca_benef_intercultur    int64
 69   valsca_oppt_intercultur     int64
 70   valsca_oppt_nationlty       int64
 71   valsca_respt_diversty       int64
 72   valsca_culture_sensitivity  int64
 73   valsca_optimism_sg          int64
 74   valsca_patriotism_sg        int64
 75   valsca_oppt_ambition_sg     int64
 76   valsca_oppt_selfval_sg      int64
 77   valsca_commit_stay_sg       int64
 78   online_news                 category
 79   online_sm                   category
 80   online_shop                 category
 81   online_areasinterest        category
 82   online_games                category
 83   online_update               category
 84   online_sharemedia           category
 85   online_watchmedia           category
 86   marital_stats               category
 87   age_youngestchild           category
 88   hh_grandparents             category
 89   hh_parents                  category
 90   hh_siblings                 category
 91   hh_spouse                   category
 92   hh_children                 category
 93   hh_relatives                category
 94   hh_helper                   category
 95   hh_mates                    category
 96   hh_employer_their_family    category
 97   hh_grandchildren            category
 98   hh_other                    category
 99   hh_none                     category
 100  highest_ed                  category
 101  institution_deg             category
 102  occupation                  category
 103  mhi                         category
 104  mpi                         category
 105  weight                      int64
dtypes: category(61), int64(45)
memory usage: 1.3 MB

Convert cleaned data frame to csv file

In [90]:
df_tr.to_csv('Socialvalues_cleaned.csv', index=False)

In [91]:
df_tr.to_csv('Socialvalues_cleaned_index.csv', index=True)

Establish a Connection in Python

In [92]:
from sqlalchemy import create_engine

db_engine = create_engine(
    'postgresql+psycopg2://postgres:admin@localhost:5432/SocialVal'
)

Store a DataFrame in PostgreSQL

In [93]:
df_tr.to_sql('social_value', db_engine, if_exists='replace', index=False)

304

In [94]:
df_tr.shape

(3076, 106)